* {
    border: 2px solid red;
    border-width: 2px;
}
/*
body header {
    background: rgba(52, 19, 112, 0.37);
    color: rgb(56, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 110%;
    outline-color: rgb(153, 56, 11);
    margin: 50px, 50px;
}

header p {
    text-align: center;
    box-sizing: 250px, 250px;
    padding: 50px, 50px;
}

header {
    border-style: double;
    border-color: blue;
    border-width: 10px;
    font-size: 36px;
    text-shadow: 0px, 4px, 0px, rgb(100, 52, 7)
}

p {
    font-size: 24px;
}

li {
    font-size: 18px;
    border: 40px, 40px;
    padding: 5px, 5px;
}